/* tipo grafia */
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #2cbcf1;
  --color-segudary: #f9f9f9;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* *CREANDO CLASE GENERALES */
.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.section {
  margin: 10rem 0;
}

/* *CREANDO CLASE DE HEADER */
.header {
  height: 100vh;
  min-height: 60rem;
  background-image: url(../img/showcase.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffff;
}

.header .header-box .logo img {
  width: 12rem;
  height: 10rem;
}

.header .header-box h1 {
  font-size: 7rem;
}

.header .header-box p {
  font-size: 2rem;
  font-weight: 800;
}

.header .header-box .btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  margin-top: 4rem;
  background-color: var(--color-primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #ffff;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #ffff;
}

/** CREANDO LOS ESTILO DE DESCRITION */
.descritio {
  position: relative;
}

.descritio h2 {
  font-weight: 900;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 7rem;
}

.descritio h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.descritio .card {
  margin-top: 5rem;
  flex: 0 0 calc(33.3% - 1rem);
}

.descritio .card .card-img {
  text-align: center;
}

.descritio .card h4 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}

.descritio .card p {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
}

/* creando otra section */
.sectio__par {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}
.sectio__par .sectio__par-title {
  color: var(--color-segudary);
  text-align: center;
}
.sectio__par .sectio__par-title h2 {
  font-size: 4rem;
  margin-top: 3rem;
  font-weight: 800;
}

.sectio__par .sectio__par-title p {
  font-size: 2.5rem;
  font-weight: 700;
}

/* creando otra section */
.card__futuro {
  flex: 0 0 calc(33.3% - 1rem);
  text-align: center;
  font-size: 2rem;
}
